<div class="message">
  <strong>
    <a href="https://ropsten.etherscan.io/address/<%= message.user.wallet_address%>" rel="noopener noreferrer" target="_blank">
    <%= message.user.nick_name %> </a>:
  </strong>
  <%= message.content %>
  <br>
</div>
