.footer-wrap
    .tm-footer-wrap.theme-dark
        .container
            .row           
                .copy-right-wrap.col-md-12
                    %div COPYRIGHT 2018 © TOKENMOM.COM ALL RIGHTS RESERVED