.header-wrap
    %nav.tm-header.navbar.navbar-default.navbar-expand.theme-dark
        .container-fluid
            .navbar-header
                %a.navbar-brand{:href => "/"}
                    = image_tag("tmom_logo.png", id: "logo")
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                %div
                    %ul.hy-menu
                        %li.hy-menu-item
                            %a.bar{:href => "/exchange/TM-WETH"}
                                %span.nav-item.nav-trade
                                    %i.fas.fa-balance-scale
                                    %span{"data-i18n" => "trade"} Trade
                        %li.hy-menu-item
                            %a.bar{:href => "/reward"}
                                %span.nav-item.nav-task
                                    %i.fas.fa-coins{:style => "color:#0dfd59"}
                                    %span{:style => "color:#0dfd59","data-i18n" => "reward"} Reward
                .navbar-nav.ml-auto
                    %ul.hy-menu
                        %li.hy-menu-item
                            %a.dropdown-toggle.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true",  :href => "javascript:void(0)", :role => "button"}
                                %img.country-icon{:alt => "", :src => "/assets/en.fba4238a.svg"}/
                                %span English
                                %span.caret
                            %ul.dropdown-menu.language
                                %li.lang-switch{:value => "1","data-locale" => "en"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/en.fba4238a.svg"}>/
                                        English
                                %li.lang-switch{:value => "2","data-locale" => "ko"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/ko.4d71266b.svg"}>/
                                        한국어
                                %li.lang-switch{:value => "3","data-locale" => "zh"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/zh.fee5842f.svg"}>/
                                        简体中文
                                %li.lang-switch{:value => "4","data-locale" => "ja"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/ja.e0b7a3ef.svg"}>/
                                        日本語
                                %li.lang-switch{:value => "6","data-locale" => "es"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/es.df343f44.svg"}>/
                                        Español
                                %li.lang-switch{:value => "7","data-locale" => "ru"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/ru.ru563p41.svg"}>/
                                        русский
                                %li.lang-switch{:value => "8","data-locale" => "de"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/de.5d71266b.svg"}>/
                                        Deutsch
                                %li.lang-switch{:value => "9","data-locale" => "fr"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/fr.faa5842f.svg"}>/
                                        français
                                %li.lang-switch{:value => "10","data-locale" => "it"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/it.e0b7a3it.svg"}>/
                                        italiano
                                %li.lang-switch{:value => "11","data-locale" => "ar"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/ar.da343r44.svg"}>/
                                        العربية
                                %li.lang-switch{:value => "12","data-locale" => "hi"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/hi.iu563h41.svg"}>/
                                        हिन्दी
                                %li.lang-switch{:value => "13","data-locale" => "vi"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/vi.5e71211b.svg"}>/
                                        tiếng Việt
                                %li.lang-switch{:value => "14","data-locale" => "tr"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/tr.4e31t64b.svg"}>/
                                        Türk
                                %li.lang-switch{:value => "15","data-locale" => "th"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/th.3l75t62z.svg"}>/
                                        ไทย
                                %li.lang-switch{:value => "16","data-locale" => "pl"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/pl.9h36y78d.svg"}>/
                                        Polski
                                %li.lang-switch{:value => "17","data-locale" => "nl"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/nl.5u79dep4.svg"}>/
                                        Nederlands
                                %li.lang-switch{:value => "18","data-locale" => "pt"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/pt.4is16jb9.svg"}>/
                                        Português
                                %li.lang-switch{:value => "19","data-locale" => "ms"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/ms.j45t4dsa.svg"}>/
                                        Malay
                                %li.lang-switch{:value => "20","data-locale" => "fa"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/fa.d645hf3s.svg"}>/
                                        فارسی
                                %li.lang-switch{:value => "21","data-locale" => "uk"}
                                    %a{:href => "javascript:void(0)"}
                                        %img.country-icon{:alt => "", :src => "/assets/uk.dh57sf19.svg"}>/
                                        Українська
