#reward_body
    .header-text
        %h2{"data-i18n" => "tokenmom_reward_system"} TOKENMOM REWARD SYSTEM
        %h5{"data-i18n" => "with_referral_system"} WITH REFERRAL SYSTEM
    .invite-banner
    .invite-info
        .reward-info.row.flex-container
            .col-md-6.flex.flex-1
                .box.flex.flex-1.flex-column.pending
                    .box-header
                        %i.fas.fa-hourglass-end
                        %span{"data-i18n" => "pending:"}
                        %span.pending-transaction

                        %span.reward-request.disabled{"data-i18n" => "request"} Request
                    .box-content.flex-1
                        .flex.flex-column
                            %table.table.reward-pending
                                %thead
                                    %tr
                                        %th{"data-i18n" => "price"} Price
                                        %th{"data-i18n" => "amount"} Amount                                        
                                        %th{:style => "text-align: right","data-i18n" => "date"} Date
                                %tbody
            .col-md-6.flex.flex-1.flex-column
                .box.flex.flex-1.flex-column.claimed
                    .box-header
                        %i.fas.fa-hand-holding-usd
                        %span Claimed:
                        %span
                    .box-content.flex-1
                        .flex.flex-column
                            %table.table.reward-claimed
                                %thead
                                    %tr
                                        %th Price
                                        %th Amount
                                        %th Date
                                        %th State
                                %tbody
        .owner-info.row            
            .col-md-12.row.reward-wallet-connected                
                .col-sm-3
                    .row
                        .col
                            #qrcode
                .col-sm-9
                    .row
                        .col-sm-3
                            My Referral ID: 
                        .col-sm-9.referral-id
                            %span 12346532
                    .row
                        .col-sm-3
                            Referral Link:
                        .col-sm-7.referral-link
                            %input{:readonly => "",:value => "https://tokenmom.com/?r=1234532",:style => "width:80%"}
                            .copy-btn
                                %i.fa.fa-copy
                    .row
                        .col-sm-3
                            %span SHARE:
                        .col-sm-9.social-share
                            %a.facebook{:onclick => "javascript:window.open('http://www.facebook.com/sharer/sharer.php?u=https://tokenmom.com?r=12345678&amp;t=Tokenmom referral system','_blank','width=800, height=500,top=200,left=300');void(0);"}
                                %i.fab.fa-facebook{"aria-hidden" => "true"}        
                            %a.twitter{:href => "https://twitter.com/intent/tweet?text=It pays to have friends!&url=https://tokenmom.com/?r=35339374", :target => "_blank"}
                                %i.fab.fa-twitter-square{"aria-hidden" => "true"}
                            %a{:href => "http://www.linkedin.com/shareArticle?mini=true&ro=true&title=Tokenmom Referral Program&url=https://www.tokenmom.com/?r=35339374&summary=It pays to have friends!&source=It pays to have friends!&armin=armin", :target => "_blank"}
                                %i.fab.fa-linkedin{"aria-hidden" => "true"}
            .col-md-12.reward-wallet-not-connected{:style => "display:none;text-align:center"}
                %span{:style => "display:block"} You are not connected, please connect your wallet.
                %a.connect-btn{:href => "/exchange/ZRX-WETH"}
                    %span Connect
        .friends-info.row.flex-container
            .col-md-6.flex.flex-1
                .box.flex.flex-1.flex-column
                    .box-header
                        %i.fas.fa-users
                        %span Total friends :
                        %span.total-friends-number 

                    .box-content.flex-1
                        .flex.flex-column
                            %table.table.friends
                                %thead
                                    %tr
                                        %th Referral ID
                                        %th{:style => "text-align:right"} Date
                                %tbody

            .col-md-6.flex.flex-1.flex-column
                .box.flex.flex-1.flex-column
                    .box-header
                        %i.fas.fa-hand-holding-usd
                        %span Total Commission :
                        %span 

                    .box-content.flex-1
                        .flex.flex-column
                            %table.table.friends-reward
                                %thead
                                    %tr
                                        %th Commission
                                        %th{:style => "text-align:right"} Date
                                %tbody
    .invite-rule
