
#root
  .home-page.theme-dark
    =render :partial => 'reward_header.html'
    =render :partial => 'reward_body.html'
    =render :partial => 'footer.html'  
=render :partial => 'reward_script.html'
=render :partial => 'utils_script.html'