#orders.box.flex-1.flex-column
  .box-header
    %span OPEN ORDERS
  .box-content
    .no-order-wrap.text-center
      
      %p.no-order-name
        %span MAKE A TRADE
      %p.no-order-content
        %span Once you buy or sell SS, your pending orders will be shown here.
    