=render :partial => 'index_script.html'
=render :partial => 'wallet_script.html'
=render :partial => 'trade_script.html'
=render :partial => 'orderbook_script.html'
=render :partial => 'trade_history_script.html'
=render :partial => 'market_script.html'
=render :partial => 'overview_script.html'
=render :partial => 'utils_script.html'
#root
  #trade_workspace
    =render :partial => 'header'
    .row.tmom-row
      %ul.nav.nav-tabs
        %li.nav-item
          %a.nav-link.active{'data-toggle' => 'tab', 'data-target' => '#market_pane'} MARKETS
        %li.nav-item
          %a.nav-link{'data-toggle' => 'tab', 'data-target' => '#trade_pane'} TRADE
        %li.nav-item
          %a.nav-link{'data-toggle' => 'tab', 'data-target' => '#orders_pane'} ORDERS
      .tab-content{'role' => 'tablelist'}
        .tab-pane.active#market_pane{'role' => 'tabpanel'}
          .tmom-grid-left
            =render :partial => 'market'
            =render :partial => 'social'
        .tab-pane#trade_pane{'role' => 'tabpanel'}
          .tmom-grid-middle
            =render :partial => 'orderbook'
            =render :partial => 'trade'
        .tab-pane#orders_pane{'role' => 'tabpanel'}
          .tmom-grid-right
            =render :partial => 'trade_history'
        -#
        -##wallet_widget
        -#  =render :partial => 'wallet'
        -##overview_widget
        -#  =render :partial => 'overview'





